@model IEnumerable<BelajarMvc.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.txtCustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtCustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtmBirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtInserted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txtCustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtCustomerAddress)
        </td>
        <td>
          @if (item.bitGender)
          {
            @Html.Label("Pria")
          }
          else
          {
            @Html.Label("Wanita")
          }
          @* @Html.DisplayFor(modelItem => item.bitGender)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtmBirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtInserted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intCustomerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.intCustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intCustomerId })
        </td>
    </tr>
}

</table>
