@model IEnumerable<BelajarMvc.Models.Produk>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.txtProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.decPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtInserted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txtProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.decPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtInserted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.intProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intProductId })
        </td>
    </tr>
}

</table>
